@font-face {
    font-family: 'Nickainley';
    src: local('Nickainley'), url('/fonts/Nickainley-Normal.otf');
}

body {
    background-image: url('/img/background.jpg');
    background-color: #18181b;

    &::-webkit-scrollbar {
        display: none;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


@each $color, $value in $colors {
    .font-glow-#{'' + $color} {
        color: $value;
        text-shadow:
            0 0 10px $value,
            0 0 20px $value,
            0 0 30px $value;
    }
}
