@font-face {
    font-family: 'Nickainley';
    src: local('Nickainley'), url('/fonts/Nickainley-Normal.otf');
}

body {
    background-image: url('/img/background.jpg');
    background-color: #18181b;

    &::-webkit-scrollbar {
        display: none;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

$colors: (
    white: #fff,
    red: #bb0d0f,
    orange: #fb691a,
    light-orange: #f39e5c,
    peach: #ff935f,
    salmon: #f5a161,
    yellow: #feee3e,
    light-yellow: #ffde59,
    limoncello-yellow: #feee3f,
    vibrant-yellow: #ffd602,
    turquoise: #00feca,
    light-green: #8ae0bf,
    blue: #3cd8fc,
    purple: #b07de6,
    pink: #f752e0,
    blush-pink: #ff8888,
    light-nude: #ffe4b7,
    nude: #fee5b7,
    beige: #e9cf8d,
    light-brown: #ccb29d,
    brown: #f071087b,
);

@each $color, $value in $colors {
    .font-glow-#{'' + $color} {
        color: $value;
        text-shadow:
            0 0 10px $value,
            0 0 20px $value,
            0 0 30px $value;
    }
}
